header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    column-gap: 2em;
    position: fixed;
    z-index: 1;
    background-color: #ffffff;
}

header i {
    font-size: 18px;
}

header img {
    height: 30px;
}

#saldo {
    font-weight: 600;
    color: #4285F4;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 90px 20px 85px 20px;
}

.title h1 {
    margin-bottom: 20px;
    font-weight: 500;
}

.card {
    width: 100%;
    height: fit-content;
    padding: 20px;
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
    border-radius: 15px;
    margin-bottom: 20px;
}

.card:last-child {
    margin: 0;
}

.card-title {
    width: 100%;
    margin-bottom: 20px;
}

.card-title h3 {
    font-size: calc(24 / 16 * 1rem);
    background: linear-gradient(90deg, #4285f4, #0943a3);
    background-size: 400% 400%;

    -webkit-animation: RainbowAnimation 3s ease infinite;
    -moz-animation: RainbowAnimation 3s ease infinite;
    animation: RainbowAnimation 3s ease infinite;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-beneficios {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.card-beneficios span {
    font-size: calc(16 / 16 * 1rem);
    margin-bottom: 5px;
}

.card-beneficios span:last-child {
    margin: 0;
}

.card-oferta {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.card-oferta p {
    font-size: calc(16 / 16 * 1rem);
    margin-bottom: 5px;
}

.riscado {
    text-decoration-line: line-through;
    text-decoration-color: red;
}

.card-oferta p:last-child {
    font-size: calc(20 / 16 * 1rem);
}

.grande-oferta {
    font-weight: bold;
    background: linear-gradient(90deg, #4285f4, #0943a3);
    background-size: 400% 400%;

    -webkit-animation: RainbowAnimation 3s ease infinite;
    -moz-animation: RainbowAnimation 3s ease infinite;
    animation: RainbowAnimation 3s ease infinite;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-payment a {
    text-decoration: none;
}

.button-payment button {
    width: 100%;
    padding: 10px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: calc(18 / 16 * 1rem);
    font-weight: bold;
    background: linear-gradient(90deg, #4285f4, #0943a3);
    background-size: 400% 400%;

    -webkit-animation: RainbowAnimation 3s ease infinite;
    -moz-animation: RainbowAnimation 3s ease infinite;
    animation: RainbowAnimation 3s ease infinite;
}

footer {
    width: 100%;
}

.nav {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    z-index: 1;
    border-top: 1px solid #c0c0c0;
    background-color: #ffffff;
}

.nav a {
    text-decoration: none;
    color: #000000;
    font-size: calc(20 / 16 * 1rem);
}

.star-icon i {
    color: #F6BE00;
}

@-webkit-keyframes RainbowAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-moz-keyframes RainbowAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes RainbowAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
