body.popup-open {
    overflow: hidden;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
}

header i {
    font-size: 18px;
}

header img {
    height: 30px;
}

#saldo {
    font-weight: 600;
    color: #4285F4;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 110px 20px 85px 20px;
    position: relative;
}

.popup {
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.popup-content {
    width: 100%;
    padding: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 5px;
}

.close-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-wrapper h2 {
    font-size: calc(20 / 16 * 1rem);
}

.close {
    font-size: calc(20 / 16 * 1rem);
    cursor: pointer;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 5px;
}

.input i {
    padding: 10px;
    font-size: calc(20 / 16 * 1rem);
}

.input input {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    font-size: calc(16 / 16 * 1rem);
    font-weight: 500;
}

.error-wrapper {
    margin-bottom: 20px;
}

.error-message {
    display: none;
    font-size: calc(16 / 16 * 1rem);
    color: #f10000;
}

.error-message.active {
    display: block;
}

.card {
    width: 100%;
    height: fit-content;
    padding: 20px;
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
    border-radius: 15px;
    margin-bottom: 20px;
}

.card:last-child {
    margin: 0;
}

.card-title {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 10px;
}

.card-title h2 {
    font-size: calc(20 / 16 * 1rem);
}

.select-payment {
    width: 100%;
    margin-bottom: 20px;
}

.select-payment p {
    font-size: calc(20 / 16 * 1rem);
    margin-bottom: 10px;
}

.select-payment button {
    width: fit-content;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: transparent;
}

.select-payment button.active {
    background-color: #000000;
    color: #ffffff;
}

.card-balance {
    width: 100%;
    margin-bottom: 20px;
}

.card-balance p {
    font-size: calc(20 / 16 * 1rem);
    margin-bottom: 5px;
}

.card-balance span {
    font-size: calc(24 / 16 * 1rem);
    font-weight: bold;
}

.button-payment {
    width: 100%;
}

.button-payment button {
    width: 100%;
    padding: 10px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: calc(18 / 16 * 1rem);
    font-weight: bold;
    background: linear-gradient(90deg, #4285f4, #0943a3);
    background-size: 400% 400%;

    -webkit-animation: RainbowAnimation 3s ease infinite;
    -moz-animation: RainbowAnimation 3s ease infinite;
    animation: RainbowAnimation 3s ease infinite;
}

.card-saque {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 69, 0, 0.1);
    color: #ff4500;
    border: 2px solid #ff4500;
    border-radius: 5px;
    font-size: calc(16 / 16 * 1rem);
    margin-bottom: 10px;
}

.card-saque:last-child {
    margin: 0;
}

.warning {
    width: 100%;
    height: calc(100vh - 135px);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 70px;
    z-index: 1;
}

.card-warning {
    width: 100%;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    text-align: center;
}

.card-warning h2 {
    font-size: calc(24 / 16 * 1rem);
    font-weight: 500;
}



footer {
    width: 100%;
}

.nav {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    z-index: 1;
    border-top: 1px solid #c0c0c0;
    background-color: #ffffff;
}

.nav a {
    text-decoration: none;
    color: #000000;
    font-size: calc(20 / 16 * 1rem);
}

.star-icon i {
    color: #F6BE00;
}

@-webkit-keyframes RainbowAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-moz-keyframes RainbowAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes RainbowAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
